<!--<div class="card">-->
<!--  <i>{{unit.Name}}</i>-->
<!--  <p>{{unit.Keywords}}</p>-->
<!--  <hr>-->
<!--  <div class="stats-box left">-->
<!--    <p>Attack: 1d20 + {{unit.ATT + unit.MAN_ATT}}</p>-->
<!--    <p>Power: 1d20 + {{unit.PWR + unit.MAN_PWR}}</p>-->
<!--    <p>Morale: 1d20 + {{unit.MOR + unit.MAN_MOR}}</p>-->
<!--  </div>-->

<!--  <div class="stats-box right">-->
<!--    <p>Defense: {{unit.DEF + unit.MAN_DEF}}</p>-->
<!--    <p>Toughness: {{unit.TGH + unit.MAN_TGH}}</p>-->
<!--    <p>Strength: {{unit.STR}} / {{unit.MAX_STR}}</p>-->
<!--  </div>-->
<!--</div>-->
<p>Max's unit cards</p>