p.property {
  padding-left: 5px;
}

div.card {
  width: 410px;
  height: 175px;
  border: 2px solid black;
  position:relative;
  margin: 5px 0 5px 5px;
}

div.card p {
  margin: 8px 0 8px 5px;
}

div.card i {
  margin: 8px 0 8px 10px;
  font-size: 20px;
}

div.stats-box {
  width: 48%;
  /*height: 150px;*/
}

div.stats-box p {
  margin: 6px 0 6px 5px;
}

div.left {
  float: left;
}

div.right {
  float: right;
}