<div>

  <div class="main-col left-col">

    <div ng-repeat="unit in availableUnits">
      <div class="card">
        <i>{{unit.name}}</i>
        <p>{{unit.keywords}}</p>
        <hr>
        <div class="stats-box left">
          <p>Attack: 1d20 + {{unit.attack}}</p>
          <p>Power: 1d20 + {{unit.power}}</p>
          <p>Morale: 1d20 + {{unit.morale}}</p>
        </div>

        <div class="stats-box right">
          <p>Defense: {{unit.defense}}</p>
          <p>Toughness: {{unit.toughness}}</p>
          <p>Strength: {{unit.size - unit.casulty}} / {{unit.size}}</p>
        </div>
      </div>
    </div>

  </div>


  <div class="between-col">
    <div>
      <button class="move-btn">>></button>
      <button class="move-btn"><<</button>
    </div>
  </div>


  <div class="main-col right-col">

  </div>
</div>
