<div class="main-col left-col">

  <div ng-repeat="unit in availableUnits">
    <div class="card" ng-click="selectUnit(unit)">
      <i>{{unit.Name}}</i>
      <p>{{unit.Keywords}}</p>
      <hr>
      <div class="stats-box left">
        <p>Attack: 1d20 + {{unit.ATT + unit.MAN_ATT}}</p>
        <p>Power: 1d20 + {{unit.PWR + unit.MAN_PWR}}</p>
        <p>Morale: 1d20 + {{unit.MOR + unit.MAN_MOR}}</p>
      </div>

      <div class="stats-box right">
        <p>Defense: {{unit.DEF + unit.MAN_DEF}}</p>
        <p>Toughness: {{unit.TGH + unit.MAN_TGH}}</p>
        <p>Strength: {{unit.STR}} / {{unit.MAX_STR}}</p>
      </div>
    </div>
  </div>

</div>


<div class="main-col right-col-manage">
  <div ng-if="selectedUnit !== null" class="vfill">

    <div class="vfill">
      <div>
        <input type="text" value="{{selectedUnit.Name}}" placeholder="Unit name" class="upt-name" size="55">
        <br>
        <label class="upt-keywords">{{selectedUnit.Keywords}}</label>
      </div>

      <div class="upt-stats">
        <!-- dynamically add options:
            https://memorynotfound.com/dynamically-add-remove-options-select-javascript/ -->
        <div class="upt-desc">
          <label>Race: </label>
          <select>
            <option value="Human">Human</option>
            <option value="Orc">Orc</option>
          </select>
          <br>

          <label>Exp: </label>
          <select>
            <option value="Green">Green</option>
            <option value="Seasoned">Seasoned</option>
          </select>
          <br>

          <label>Armor: </label>
          <select>
            <option value="Light">Light</option>
            <option value="Medium">Medium</option>
          </select>
          <br>

          <label>Type: </label>
          <select>
            <option value="Infantry">Infantry</option>
            <option value="Archer">Archer</option>
          </select>
          <br>
          <br>

          <label>Troops: </label>
          <input type="number" value="500" placeholder="1">
        </div>


        <table class="upt-table">
          <tr>
            <th></th>
            <th>Auto</th>
            <th></th>
            <th>Manual</th>
            <th></th>
            <th>Final</th>
          </tr>
          <tr>
            <th>Att:</th>
            <th><input ng-model="selectedUnit.ATT" readonly></th>
            <th>+</th>
            <th><input type="number" ng-model="selectedUnit.MAN_ATT" ng-keyup="refresh()"></th>
            <th>=</th>
            <th><input ng-model="sumAtt" readonly></th>
          </tr>
          <tr>
            <th>Pwr:</th>
            <th><input ng-model="selectedUnit.PWR" readonly></th>
            <th>+</th>
            <th><input type="number" ng-model="selectedUnit.MAN_PWR" ng-keyup="refresh()"></th>
            <th>=</th>
            <th><input ng-model="sumPwr" readonly></th>
          </tr>
          <tr>
            <th>Mor:</th>
            <th><input ng-model="selectedUnit.MOR" readonly></th>
            <th>+</th>
            <th><input type="number" ng-model="selectedUnit.MAN_MOR" ng-keyup="refresh()"></th>
            <th>=</th>
            <th><input ng-model="sumMor" readonly></th>
          </tr>
          <tr>
            <th>Def:</th>
            <th><input ng-model="selectedUnit.DEF" readonly></th>
            <th>+</th>
            <th><input type="number" ng-model="selectedUnit.MAN_DEF" ng-keyup="refresh()"></th>
            <th>=</th>
            <th><input ng-model="sumDef" readonly></th>
          </tr>
          <tr>
            <th>Tgh:</th>
            <th><input ng-model="selectedUnit.TGH" readonly></th>
            <th>+</th>
            <th><input type="number" ng-model="selectedUnit.MAN_TGH" ng-keyup="refresh()"></th>
            <th>=</th>
            <th><input ng-model="sumTgh" readonly></th>
          </tr>
          <tr>
            <th>Size:</th>
            <th><input ng-model="selectedUnit.STR"></th>
            <th>/</th>
            <th><input ng-model="selectedUnit.MAX_STR" readonly></th>
          </tr>
        </table>
      </div>

      <div class="upt-notes">
        <label>Notes:</label>
        <input value="sample notes">
      </div>

      <hr>
      <div class="upt-btns">
        <button>save</button>
      </div>

      <hr>

      <div class="upt-log">
        <!-- add a log of unit activity -->
        <p>Someday, a log of unit activity will be displayed here!</p>
      </div>

    </div>



  </div>

  <div ng-if="selectedUnit === null">
    <p style="margin: 10px 0 0 10px;">Select a unit to see its stats here.</p>
  </div>

</div>
